body{
background:#0f1621;
color:white;
font-family:Poppins;
margin:0;
}

/* encabezado */

.header{
text-align:center;
padding:50px 20px 10px;
}

.header h1{
font-family:Playfair Display;
font-size:45px;
letter-spacing:4px;
}

/* catálogo */

.catalogo{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:35px;
padding:40px;
max-width:1200px;
margin:auto;
}

/* tarjeta producto */

.producto{
background:#0b111a;
border-radius:12px;
border:1px solid rgba(255,255,255,0.05);
text-align:center;
padding-bottom:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.6);
position:relative;
overflow:hidden;
transition:transform 0.4s ease, box-shadow 0.4s ease;
}
.producto:hover{
transform:translateY(-8px);
}

.destacado{
border:2px solid #d4af37;
}

/* imagen reloj */

.producto img{
width:100%;
height:230px;
object-fit:cover;
border-radius:12px 12px 0 0;
transition:transform 0.45s ease;
}

/* efecto zoom */

.producto:hover img{
transform:scale(1.15);
}

/* nombre reloj */

.producto h3{
margin-top:15px;
}

/* relojes dama */

.producto.dama{
background:#f4f4f4;
color:#222;
}

/* relojes niños */

.producto.nino{
background:#eaf6ff;
color:#222;
}

/* precios */

.precios{
margin:10px 0;
}

.precio-antiguo{
text-decoration:line-through;
color:#888;
font-size:20px;
margin-right:8px;
}

.precio-nuevo{
color:#d4af37;
font-size:22px;
font-weight:600;
}

/* stock */

.stock{
color:#ff6a6a;
font-size:14px;
}

/* botón comprar */

button{
background:#d4af37;
border:none;
padding:10px 22px;
border-radius:6px;
cursor:pointer;
font-weight:600;
letter-spacing:0.5px;
margin-top:10px;
transition:0.3s;
}

button:hover{
background:#f1c94c;
}

/* etiqueta popular */

.badge{
position:absolute;
top:10px;
left:10px;
background:#d4af37;
color:black;
padding:4px 8px;
font-size:12px;
border-radius:4px;
}

/* footer */

footer{
text-align:center;
padding:40px;
color:#999;
font-size:14px;
}
